# Backend
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/*.class
backend/*.jar
backend/*.log

# Frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db
